@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

body {
  font-family: 'Modak', cursive;
  background-image: url("./../assets/images/meadow.png");
  background-size: cover;
  background-attachment: fixed;
  background-color: rgb(131, 205, 255);
}

h1 {
  color: rgb(15, 114, 20);
  text-align: center;
  font-size: 500%;
}

img {
  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin-top: 25px;
}

div#output {
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
}

h1.jumbotron {
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.5);
}